.about {
  background-color: #1a1a1a;
  padding: 80px 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

.about-text p {
  color: #ccc;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.7;
}

.training-cta {
  margin-top: 20px;
}

.training-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #e3bc3c;
  color: #e3bc3c;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.4s ease;
}

.training-btn:hover {
  background-color: #e3bc3c;
  color: #000;
}

.about-image img {
  width: 100%;
  height: 462px;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.about-image:hover img {
  transform: scale(1.05);
}


/* DESKTOP */
@media (min-width: 768px) {

  .about-content {
    flex-direction: row;
    align-items: center;
  }

  .about-text {
    flex: 1;
  }

  .about-image {
    flex: 1;
  }

}

/* MOBILE */
@media (max-width: 768px) {

  .about-image img {
    height: 350px;  
  }

  .training-btn {
    padding: 10px 20px;
    font-size: 16px;
  }

}