.footer {
  background-color: #1a1a1a;
  padding: 60px 17px 30px;
  color: #ccc;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.footer h3 {
  color: gold;
  margin-top: 0;
  margin-bottom: 8px;
}

.footer p {
  font-size: 14px;
  margin-bottom: 14px;
}

.footer-brand {
  align-self: flex-start;
  margin-top: -5px;
}

.footer-contact {
  margin-bottom: 15px;
  padding-right: 26px;
}

.footer-social a:hover {
  color: gold;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 43px;
  text-align: center;
  font-size: 13px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 28px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s ease;
}

.social-link svg {
  color: gold;
  flex-shrink: 0;
}

.social-link:hover {
  color: gold;
}

.social-link:hover svg {
  transform: scale(1.1);
}

/* DESKTOP */
@media (min-width: 768px) {

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

}