.gallery {
  background-color: #111;
  padding: 80px 20px;
  text-align: center;
}

.gallery h2 {
  font-size: 32px;
  margin-bottom: 60px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 12px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}


/* DESKTOP */
@media (min-width: 768px) {

  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
  }

  .gallery-item.large {
    grid-column: span 2;
    grid-row: span 2;
  }

  .gallery-item img {
    object-position: center 39.5%;
  }

}

/* MOBILE */
@media (max-width: 768px) {
  .gallery-item {
    height: 320px;  
  }
}