* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  line-height: 1.6;
}

section {
  padding: 60px 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
}
