* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Poppins', sans-serif;  background-color: #111;
  color: white;
  line-height: 1.6;
  padding-top: 80px;
}

h1, h2, h3 {
  font-weight: 700;
}

p {
  font-weight: 300;
}

section {
  padding: 60px 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
}
