.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.95);
  backdrop-filter: blur(6px);
  padding: 15px 5px;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: gold;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

/* NAV MOBILE */

.nav {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #1a1a1a;
  width: 100%;
  display: none;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
  transition: all 0.3s ease;
}

.nav a {
  padding: 12px 0;
  color: #ccc;
  text-decoration: none;
  font-size: 15px;
}

.nav a:hover {
  color: gold;
}

.nav.active {
  display: flex;
}

.hamburger {
  background: none;
  border: none;
  font-size: 24px;
  color: gold;
  cursor: pointer;
}

/* DESKTOP */

@media (min-width: 768px) {

  .hamburger {
    display: none;
  }

  .nav {
    position: static;
    display: flex !important;
    flex-direction: row;
    width: auto;
    background: none;
    padding: 0;
    gap: 25px;
  }

}
