.location {
  background-color: #1a1a1a;
  padding: 80px 20px;
  text-align: center;
}

.location h2 {
  font-size: 32px;
  margin-bottom: 50px;
}

.location-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.map iframe {
  border-radius: 12px;
}

.location-info {
  text-align: left;
}

.location-info p {
  margin-bottom: 15px;
  color: #ccc;
  font-size: 16px;
}

.location-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}


/* DESKTOP */
@media (min-width: 768px) {

  .location-content {
    flex-direction: row;
    align-items: center;
  }

  .map {
    flex: 1;
  }

  .location-info {
    flex: 1;
}

  .location-buttons {
    flex-direction: row;
  }
}